{% extends "base.html" %} 
{% load crispy_forms_tags %} 

{% block title %} New Word {% endblock title %} 

{% block style %} 
    {{ form.media.css }}

    <style>
    span.select2-selection.select2-selection--multiple{
        background: #121212;
        color: white;
    }

    span.select2-results{
        background: #121212;
        color: white;

    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice{
        background-color: #121212;
    }

    input.select2-search__field{
        color: rgba(255,255,255,0.87);
        border-color: rgba(255,255,255,0.87);
        background: #121212;
    }

    .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #333333;
}

    span.select2-selection__rendered{
        background: #121212;
       color: rgba(255,255,255,0.87);

    }

    #select2-id_word-container{
       color: rgba(255,255,255,0.87);

    }

    span.select2-search.select2-search--dropdown{
        background: #121212;

    }
    </style> 
{% endblock style %} 

{% block content %}
    <h2 style="margin: 3vh 0">Add a New Meaning</h2>
    <form action="" method="post">
    {% csrf_token %} 
    {{ form|crispy}}
    <button class="btn btn-success" type="submit">{{ action }}</button>
    </form>

{% endblock content %} 

{% block script %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{ form.media.js }} 
{% endblock script %}
